body {
    font-family: 'Verdana', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #333;
    min-height: 100vh; /* Ensure body fills the whole page */
    background: linear-gradient(180deg, #ffffff, #ffa500);
}

.container {
    flex-direction: column; /* Stack elements vertically */
}

.search-box {
    position: relative; /* For positioning the icon */
    width: 100%; /* Full width */
    max-width: 400px; /* Maximum width */
}

#location {
    width: 87%; /* Full width of the search box */
    padding: 10px 0 10px 40px; /* Add padding for input and space for the icon */
    border: 1px solid #ccc; /* Border style */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Increase font size for better visibility */
}

.search-box i {
    position: absolute; /* Position the icon */
    left: 10px; /* Position it inside the input */
    top: 50%; /* Center it vertically */
    transform: translateY(-50%); /* Adjust vertical alignment */
    color: #c4c4c4; /* Icon color */
    pointer-events: none; /* Prevent clicks on the icon */
    font-size: 18px; /* Adjust size of the icon */
}
#date-time {
    font-size: 20px; /* Adjust size as needed */
    margin: 10px 0; /* Space below the date/time */
    text-align: left; /* Center text */
    color: #333; /* Text color */
}

#weather-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align items */
    text-align: center; /* Center text within */
    width: 100%; /* Ensure it takes full width */
}
#location-name {
    margin-top: 30px;
    font-size: 50px;
    text-align: center;
}

#weather-cond {
    font-size: 15px;
    color: gray; /* Gray color for weather condition */
    margin-top: 20px;
    width: 100%; /* Ensure it takes the full width for proper centering */
}

#weather-icon img {
    width: 150px; /* Adjust icon size */
    height: auto;
    text-align: center;
}

#weather-info {
    display: flex; /* Use flexbox for layout */
    justify-content: space-around; /* Evenly space items */
    align-items: center; /* Vertically center items */
    width: 100%; /* Full width of the container */
    margin-top: 20px; /* Space above the weather info */
}

.weather-item {
    display: flex; /* Use flexbox for each item */
    flex-direction: column; /* Stack image and text vertically */
    text-align: center; /* Center text */
}

.weather-item img {
    width: 25px; /* Adjust image size */
    height: auto; /* Maintain aspect ratio */
    margin: 0 35px
}

#humidity, #wind-speed {
    margin: 5px 0; /* Space below each text element */
    color: rgb(69, 69, 69); /* Text color */
}

#temperature {
    font-size: 60px;
    text-align: center;
}

#error-message {
    color: red; /* Color for error messages */
    margin-top: 20px;
}
h1{
    text-align: center;
}