<% unless comment.archived? %>
  <div class="card mb-3">
    <div class="card-body">
      <!-- Commenter Name -->
      <h5 class="card-title">
        <%= comment.commenter %>
      </h5>

      <!-- Comment Body -->
      <p class="card-text">
        <%= comment.body %>
      </p>

      <!-- Delete Button -->
      <%= button_to "Delete", @comment, method: :delete, class: "btn btn-danger btn-sm mx-1" %>

    
    </div>
  </div>
<% end %>

