<% unless comment.archived? %>
  <div class="card mb-3">
    <div class="card-body">
      <!-- Commenter Name -->
      <h5 class="card-title">
        <%= comment.commenter %>
      </h5>

      <!-- Comment Body -->
      <p class="card-text">
        <%= comment.body %>
      </p>

      <!-- Delete Button -->
      <%= link_to "Delete Comment", [comment.article, comment], 
                  class: "btn btn-danger btn-sm", 
                  data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
    </div>
  </div>
<% end %>

