
  <div class="card mb-3">
    <div class="card-body">
      <!-- Commenter Name -->
      <h5 class="card-title">
        <%= comment.commenter %>
        <i class="fas fa-clock fa-xs text-muted"></i> 
        <!-- Display comment creation time -->
        <small class="text-muted ml-1">
          <%= time_ago_in_words(comment.created_at) %> ago
        </small>
      </h5>

      <!-- Comment Body -->
      <p class="card-text">
        <%= comment.body %>
      </p>

      <!-- Button Container -->
      <div class="button-container d-flex align-items-center">
        <!-- Delete Button -->
        <%= button_to "Delete", article_comment_path(@article, comment), method: :delete, class: "btn btn-danger btn-sm me-2" %>
        

      </div>
    </div>
  </div>

