<div id="<%= dom_id article %>">

  <p>
    <strong>Created By:</strong>
    <%= article.user.username %>
  </p>
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

</div>
