
<p style="color: green"><%= notice %></p>

<div class="container">

<div class="bg-light py-5 mb-4">
  <div class="container-fluid">
    <h1 class="display-4">Categories</h1>
    <p class="lead">Click on a category to see all related articles or create a new one.</p>
    <hr class="my-4">
    <p>
      <%= link_to "Create a New Category", new_category_path, class: "btn btn-primary btn-lg" %>
    </p>
  </div>
  </div>

<ul class="list-group">
  <% @categories.each do |category| %>
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      <%= link_to "#{category.name}", category, class: "text-decoration-none" %>
      <span class="badge bg-primary rounded-pill">
        <%= category.articles.count %>
      </span>
    </li>
  <% end %>
</ul>


</div>



