<h1>Categories</h1>

<ul class="list-group">
  <% @categories.each do |category| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= link_to "#{category.name}", category %>
      <span class="badge bg-primary rounded-pill">
        <%= category.articles.count %>
      </span>
    </li>
  <% end %>
</ul>




