<div class="container">

<div class="bg-light py-5 mb-4">
<div class="container-fluid">
  <h1 class="display-4">Welcome to Nadia's Blog!</h1>
  <p class="lead">Explore articles, categories, and authors to stay informed and connected.</p>
  <hr class="my-4">
  
</div>
</div>
</div>



