/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* General List Group Item Styles */
/* List Group Styles */

.leave-comment {
  background-color: #535353; /* Dark grey background */
  color: #ffffff; /* White text for readability */
  padding: 20px; /* Add padding around comments */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
}

.author-img-container {
  display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center;    /* Vertical alignment */
  height: 100%;           /* Ensures it takes full height of its parent */
}

.author-img {
  width: 100px;
  height: 100px;
  object-fit: cover;      /* Ensures the image maintains aspect ratio */
}


.category-img {
  width: 100%;         
  height: 50%;        
  object-fit: cover;   
  border-radius: 5px 5px 0px 0px;  /* Optional: Rounded corners */
}

.author-card:hover, .article-card:hover {
  transform: translateY(-5px); /* Slightly lift the card */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Add shadow to create a "lifted" effect */
  cursor: pointer; /* Change cursor to indicate it's clickable */
}
.sign-right {
  text-align: right;
}

  #map {
    width: 100%;
    height: 500px; /* Set desired height */
  }

  @keyframes drop {
    0% {
      transform: translateY(-200px) scaleY(0.9);
      opacity: 0;
    }
    5% {
      opacity: 0.7;
    }
    50% {
      transform: translateY(0px) scaleY(1);
      opacity: 1;
    }
    65% {
      transform: translateY(-17px) scaleY(0.9);
      opacity: 1;
    }
    75% {
      transform: translateY(-22px) scaleY(0.9);
      opacity: 1;
    }
    100% {
      transform: translateY(0px) scaleY(1);
      opacity: 1;
    }
  }
  .drop {
    animation: drop 0.3s linear forwards var(--delay-time);
  }
  
  .ui-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
  }
  
  .ui-button:hover {
    background: rgb(235, 235, 235);
  }
  
  